html, body {
    background-size: 100%;
    margin: 0;
    height: 100%;
}

img {
    width: 60%;
    height: 60%;
}

.svg_div {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loginFieldBackground {
    text-align: center;
    height: 100%;
    min-height: 400px;
    overflow: hidden;
}

.loginField {
    margin-left: 30%;
    margin-right: 30%;
    display: block;
    padding: 48px 40px 36px;
    background: rgba(255, 255, 255, 0.51);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    line-height: 20px;
}