body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    position: relative;
}

#reset-nav-wrapper {
    display: flex;
    justify-content: space-between;
}

#reset-right {
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
}

.reset-search-box {
    margin-left: 360px;
!important;
}

#reset-floating-button {
    position: absolute;
    right: 48px;
    bottom: 32px;
}

#reset-collapsible-header {
    padding: 0 32px;
}

.reset-img-head {
    width: 42px;
    height: 42px;
}

.reset-content {
    width: 44%;
}

.reset-secondary-content {
    position: absolute;
    right: 16px;
    min-height: 64px;
}

.reset-prefix {
    height: 43px;
}

.reset-color {
    color: #757575;
}

.reset-checkbox {
    margin-left: 11px;
    margin-top: 11px;
}