body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    position: relative;
}

#reset-nav-wrapper {
    display: flex;
    justify-content: space-between;
}

#reset-right {
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
}

#reset-floating-button {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

#reset-collapsible-header {
    padding: 0 32px;
}

.reset-img-head {
    width: 42px;
    height: 42px;
}

.reset-content {
    margin-left: 36%;
}

.reset-secondary-content {
    position: absolute;
    right: 16px;
    min-height: 64px;
}

.reset-prefix {
    height: 43px;
}

.reset-color {
    color: #757575;
}

.world {
    background: url('https://ssl.gstatic.com/i18n/phonenumbers/phoneinputwidget/flags32x22_1z.png') no-repeat 0 0;
    background-size: 17px 2724px;
    width: 16px;
    height: 11px;
    overflow: hidden;
}

.reset-checkbox {
    margin-left: 11px;
    margin-top: 11px;
}

.reset-close-btn {
    margin-right: 60px;
!important;
}